article {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

article h3 {
    font-size: 24px;
    padding-left: 10px;
}

.urgente {
    background-color: rgb(153, 174, 198);
}

.diaria {
    background-color: rgb(162, 199, 232);
}

.mensual {
    background-color: rgb(195, 220, 229);
}

span {
    font-size: 14px;
    display: inline-block;
    margin: 0px 5px;
}

.cl-urgente {
    color: rgb(153, 174, 198);
}

.cl-diaria {
    color: rgb(162, 199, 232);
}

.cl-mensual {
    color: rgb(195, 220, 229);
}